
<div class="container" >
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form id="add_phone_data" role="form" method="POST" ng-submit="onsubmit()">
                <fieldset>
                    <h2>اضافه کردن شماره تلفن</h2>
                    <hr class="colorgraph">
                    <div class="form-group">
                        <input type="text"  ng-model="user.name" class="form-control input-lg" placeholder="نام و نام خانوادگی / عنوان" required >
                    </div>
                    <div class="form-group">
                        <input type="text"  ng-model="user.departmenet" class="form-control input-lg" placeholder="سمت" required>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="user.phone_number" class="form-control input-lg" placeholder="شماره تلفن" >
                    </div>
                    <div class="form-group">
                        <input type="text"  ng-model="user.inside_phone_number" class="form-control input-lg" placeholder="شماره تلفن داخلی" required>
                    </div>
                    <div class="form-group">
                        <input type="email"  ng-model="user.email" class="form-control input-lg" placeholder="ایمیل">
                    </div>
                    <div class="form-group">
                        <input type="text"  ng-model="user.room_number" class="form-control input-lg" placeholder="شماره اتاق">
                    </div>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input id="submit" type="submit" class="btn btn-lg btn-success btn-block" value="ذخیره">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>
