
<table class="table table-striped table-hover " >
    <thead>
    <tr>
        <th>نام/نام خانوادگی</th>
        <th>سمت</th>
        <th>شماره تلفن</th>
        <th>شماره داخلی</th>
        <th>حذف</th>
    </tr>
    </thead>
    <tbody>
    <%
    data.forEach(function(index){%>
    <tr>
        <td><%=index.name%></td>
        <td><%=index.departmenet%></td>
        <td><%=index.phone_number%></td>
        <td><%=index.inside_phone_number%></td>
        <td><button type="button" class="btn btn-danger btn-sm"  >حذف</button></td>
    </tr>
  <%  });
     %>

    </tbody>
</table>