<!DOCTYPE html>
<html lang="fa" dir="rtl">
<!--
    Designed and Developed by Danial Vafadar Rad|daniel.vafadar@gmail.com
-->
  <head>
    <title>جستجوگر شماره تلفن 118</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Danial Vafadar Rad|daniel.vafadar@gmail.com">
    <meta property="root" content="http://118.sadjad.ac.ir" />
    <link href='../css/app.css' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app="sadjad118" ng-controller="body_controller" ng-cloak>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="main_page" class="navbar-brand" style="padding:10px" href="#/"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> <span style="margin-top:10px">جستجوگر شماره تلفن ۱۱۸</span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
          <%if(data.role == 0){%>
          <li ng-class="loginActive"><a id="sign_in" href="#/login"><i class="icon-chevron-sign-up icon-large"></i>ورود</a></li>
          <% }%>
        <li ng-class="enrollActive"><a href="#/enroll"><span> ثبت نام</span></a></li>
        <% if(data.role != 0){%>
          <li ng-class="favoriteActive"><a  href="#/favorite">لیست مورد علاقه <span class="sr-only">(current)</span></a></li>
          <%if(data.role == 2){%>
          <li ng-class="addphoneActive"><a id="add_phone" href="#/add_phone">اضافه کردن شماره تلفن</a></li>
          <li ng-class="usermanagementActive"><a id="add_phone" href="#/user_management">مدیریت کاربران</a></li>
          <%}%>
        <%}%>
      </ul>
        <%if(data.role != 0){%>
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> 
                    <strong><%= data.name%></strong>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right pull-left" >
                    <li>
                        <div class="navbar-login">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="text-center">
                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="navbar-login navbar-login-session">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>
                                        <a href="" ng-click="logout()" class="btn btn-danger btn-block">خروج</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <%}%>
    </div>
  </nav>
    <div class="col-md-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 id="content_header" class="panel-title" ng-class="header" >{{Header}}</h3>
            </div>
            <div id="content_body" class="panel-body" ng-view ng-class="body">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 id="content_header" class="panel-title">لینک های مفید</h3>
            </div>
            <div id="content_body" class="panel-body">
                <a href="{{stu_url}}"  target="_blank" class="btn btn-primary  btn-block">سیستم دانشجویی</a>
                <a href="{{sepehr_url}}" target="_blank" class="btn btn-info  btn-block">سیستم دانلود سپهر</a>
                <a href="{{pooya_url}}"  target="_blank" class="btn btn-warning  btn-block">سامانه پویا</a>
            </div>
        </div>
    </div>
  <nav class="footer">
      <div class="container">
          <div class="col-sm-6 ">
              <p class="pull-right"><a href="{{computer_center}}"  target="_blank">مرکز کامپیوتر - دانشگاه صنعتی سجاد</a></p>
          </div>
          <div class="col-sm-6">
              <p  class="pull-left">  نسخه <%=data.version%></p>
          </div>
      </div>
  </nav>
  </body>
  <script type="application/javascript" src="../js/app.js"> </script>
</html>
