<!DOCTYPE html>
<html lang="fa" dir="rtl">
<!--
    Designed and Developed by Danial Vafadar Rad|daniel.vafadar@gmail.com
-->

<head>
    <title>جستجوگر شماره تلفن ۱۱۸</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Danial Vafadar Rad|daniel.vafadar@gmail.com">
    <meta property="root" content="http://118.sadjad.ac.ir" />
    <link href='../css/dep.css' rel='stylesheet' type='text/css'>
    <link href='../css/app.css' rel='stylesheet' type='text/css'>
</head>

<body ng-app="sadjad118" ng-controller="body_controller">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a id="main_page" class="navbar-brand pull-right" style="padding:27px" href="#!/">
                <span id="menu-toggle" class="toggle glyphicon glyphicon-align-justify  toggle pull-right" aria-hidden="true"></span>
            </a>
        </div>
        <span style="margin-top:27px; margin-right:20px;"><img class='logo1' src='../images/logo1.png'></img></span>

        <img id='logo' class=" pull-left" src="../images/logo.png">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-left" ng-show="user_session">
                <li class="dropdown">
                    <ul class="dropdown-menu dropdown-menu-right pull-left">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="" ng-click="logout()" class="btn btn-danger btn-block">خروج</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Sidebar -->
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li ng-repeat="index in menu">
                        <a ng-href="{{index.href}}" style='color:white' class='hvr-underline-from-center'>
                            <i class="{{index.icon}}" aria-hidden="true" style='margin-left: 8px;'></i>
                            <span ng-bind='index.value'></span>
                        </a>
                    </li>

                    <li>
                        <a class='hvr-underline-from-center' style='color:white' href="" ng-click="logout()" ng-show="user_session"><i class="fa fa-sign-out" style='margin-left: 8px;' aria-hidden="true"></i>
خروج</a>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="content">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 id="content_header" class="panel-title" ng-class="header" ng-bind="Header"></h3>
                        <span class="{{menu_icon}}" color='black' aria-hidden="true"></span>
                    </div>
                    <div id="content_body" class="panel-body" ng-view ng-class="body">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 id="content_header" class="panel-title">لینک های مفید</h3>
                    </div>
                    <div id="content_body" class="panel-body">
                        <a href='' style="color:black"><i class=" close_icon fa fa-times-circle" style='  margin-right:5px;
                        position:absolute;
                        margin-top: 3px;
                        font-size: 18px;
                        ' aria-hidden="true" ></i></a>
                        <a href="http://pooya.sadjad.ac.ir" target="_blank" class="btn btn-primary  btn-block">سایت دانشگاه</a>
                        <a href='' style='color:black' data-toggle="modal" data-target="#add_link"><span class="glyphicon glyphicon-plus-sign add_link" aria-hidden="true"></span></a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="add_link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">اضافه‌کردن لینک‌های مفید</h4>

                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="application/javascript" src="../js/dep.js"></script>
<script type="application/javascript" src="../js/app.js"></script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
        $("#menu-toggle").toggleClass("rotate")
    });
    $('a').trigger("mouseover");
</script>

</html>
