<div class="pull-left">
  <ul class="nav nav-tabs">
  <li role="presentation"><a href="#/logs/error_logs" ng-click="error()">Error Logs</a></li>
  <li role="presentation"><a href="#logs/info_logs" ng-click="info()">Info Logs</a></li>
  <li role="presentation"><a href="#/logs/security_logs" ng-click="security()">Security Logs</a></li>
  </ul>
</div>
