
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form  role="form" method="POST">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">ویرایش شماره تلفن</h4>
            </div>
            <div class="modal-body">
                    <fieldset>
                        <div class="form-group">
                            <input type="text" name="name" ng-model="edit_form.name" class="form-control" placeholder="نام و نام خانوادگی / عنوان" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="departmenet" ng-model="edit_form.departmenet" class="form-control" placeholder="سمت" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone_number" ng-model="edit_form.phone_number" class="form-control" dir="ltr" placeholder="شماره تلفن" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="inside_phone_number"  ng-model="edit_form.inside_phone_number" dir="ltr" class=" form-control" placeholder="شماره تلفن داخلی" required>
                        </div>
                    </fieldset>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div style="float:right">
                    <button type="button " class="btn btn-default" ng-click="close()" data-dismiss="modal">بستن</button>
                    <button ng-click="sendedit()" type="submit" class="btn btn-primary" data-dismiss="modal">ذخیره تغییرات</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                 <span class="input-group-btn">
                    <button class="btn btn-danger btn-lg " type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
                <form class="form-horizontal" role="form" method="post" >
                    <input name="search" type="text" ng-model="_data.search" ng-change="onsubmit()" class="form-control input-lg" placeholder="نام/نام خانوادگی/سمت/شماره تلفن/شماره داخلی" required/>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row"  ng-show="!_data.search">
    <blockquote>
  <h3>راهنمای استفاده از سیستم:</h3>
<p>

  جستجوگر شماره تلفن 118،اعضا دانشگاه سجاد را براساس نام ،نام خانوادگی،سمت وشماره تلفن جستجو می نماید برای این منظورکافی است در محل مشخص شده عبارت مورد نظر خود را وارد کنیدو نتایج مشخص شده را مشاهده نمایید.
</p>
<h3 style="font-size:20px">ثبت نام در سیستم:</h3>
<p>
	در صورتی که علاقمند هستید "لیست مورد علاقه من" داشته باشید می توانید در سیستم ثبت نام کنید.
</p>
    </blockquote>
</div>
    <table class="table table-striped table-hover "  ng-show="_data.search" ng-if="delete_row">
        <thead>
        <tr>
        <%if(data.role >= 1){%>
            <td>مورد علاقه</td>
            <%}%>
            <th>نام/نام خانوادگی</th>
            <th>سمت</th>
            <th>شماره تلفن</th>
            <th>شماره داخلی</th>
        <%if(data.role >= 2){%>
            <th>تغییرات</th>
            <th>حذف</th>
        <%}%>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in query" >
            <%if(data.role >= 1){%>
            <td><a href="" ng-click="onfavorite(result)"> <span class="glyphicon glyphicon-plus" aria-hidden="true" style=" color: #ff7224;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;right: 10px;"></span></a></td>
            <%}%>
            <td>{{result.name}}</td>
            <td>{{result.departmenet}}</td>
            <td>{{result.phone_number}}</td>
            <td>{{result.inside_phone_number}}</td>
            <%if(data.role >= 2){%>
            <td><button type="button" class="btn btn-warning btn-sm" ng-click="onedit(result)" data-toggle="modal" data-target="#myModal">ویرایش</button></td>
            <td><button type="button" class="btn btn-danger btn-sm" ng-click="ondelete(result)">حذف</button></td>
            <%}%>

        </tr>
        </tbody>
    </table>
