<form  role="form" method="POST">
  <fieldset>
      <div class="form-group">
          <input type="text" name="first_name" ng-model="user_data.first_name" class="form-control" placeholder="نام" required >
      </div>
      <div class="form-group">
          <input type="text" name="last_name" ng-model="user_data.last_name" class="form-control" placeholder="نام خانوادگی" required>
      </div>
      <div class="form-group">
          <input style="font-family:'';" type="text" name="username" ng-model="user_data.username" class="form-control" dir="ltr" placeholder="نام کاربری" required>
      </div>
      <div class="form-group">
          <input type="password" name="password" ng-change="password_check()" ng-model="user_data.password" class="form-control" dir="ltr" data-toggle="password" placeholder='رمز عبور'>
      </div>
      <div class="form-group" ng-class="password_validation">
          <input type="password" name="password_repeat" ng-change="password_check()" ng-model="user_data.repeat_password" class="form-control" dir="ltr" data-toggle="password" ng-match="user_data.password" placeholder='تکرار رمز عبور'>
      </div>
      <div class="form-group" >
          <input type="email" name="email" ng-model="user_data.email" class="form-control" dir="ltr" placeholder="ایمیل" required>
      </div>
      <div class="form-group" >
  </fieldset>
</form>
